// General
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

// Variables
background-home = #ECEFF1
font-family-home = 'Roboto', sans-serif
font-size-app = 16px

body
	background background-home
	font-family font-family-home !important
	font-size font-size-app

figure
	margin 0
	
@import 'home.styl'
@import 'chat.styl'