doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel="stylesheet", href="/components-font-awesome/css/font-awesome.min.css")
	body
		block content