extends ../../../views/layout.jade

block content
	.container-home
		h1
			span.fa.fa-weixin
			&nbsp
			strong Come let's chat
		.login
			form(action="/login",method="POST")
				input(type="text",placeholder="Username")
				input(type="password",placeholder="Password")
				.options
					a.option(href="/register") Register
					button.option Login