extends ../../../views/layout.jade

block content
	.container-home
		h1
			span.fa.fa-weixin
			&nbsp
			strong Come let's chat
		.register
			form(action="/register",method="POST")
				input(type="text",name="name",placeholder="Name")
				input(type="text",name="username",placeholder="Username")
				input(type="password",name="password",placeholder="Password")
				input(type="password",placeholder="Password Confirm")
				.options
					a.option(href="/") I have a account!
					button.option Register
